body {
        margin: 0;
        line-height: normal;
      }
      
      :root {
        /* fonts */
        --font-krub: Krub;
        --font-jua: Jua;
      
        /* font sizes */
        --font-size-xl: 20px;
        --font-size-17xl: 36px;
        --font-size-3xl: 22px;
        --font-size-10xl: 29px;
        --font-size-13xl: 32px;
      
        /* Colors */
        --color-white: #fff;
        --color-gainsboro: #d9d9d9;
        --logo-color: #ff5800;
        --color-orangered-100: rgba(255, 88, 0, 0.15);
        --color-forestgreen: #43a219;
        --color-firebrick: #c30010;
      
        /* Paddings */
        --padding-xl: 20px;
        --padding-8xs: 5px;
      
        /* Border radiuses */
        --br-71xl: 90px;
        --br-76xl-5: 95.5px;
      }
      