.nestflex-2-1 {
        width: 410px;
        flex: 1;
        position: relative;
        border-radius: 250px;
        max-height: 100%;
        object-fit: cover;
        max-width: 100%;
      }
      .nestflex-2-1-wrapper {
        align-self: stretch;
        width: 559px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
      }
      .profile {
        align-self: stretch;
        height: 55px;
        position: relative;
        display: inline-block;
        flex-shrink: 0;
      }
      .profile-frame {
        width: 165px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 8px 0 0;
        box-sizing: border-box;
      }
      .buy {
        height: calc(100% - 20px);
        top: 10px;
        left: 0;
      }
      .buy,
      .help,
      .sell {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 165px;
      }
      .sell {
        top: 21px;
        left: 115px;
        height: 31px;
      }
      .help {
        height: calc(100% - 20px);
        top: 10px;
        left: 234px;
      }
      .frame-child {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: var(--logo-color);
        width: 100%;
        height: 100%;
      }
      .image-1-icon {
        position: absolute;
        width: calc(100% - 8px);
        top: 4px;
        right: 4px;
        left: 4px;
        max-width: 100%;
        overflow: hidden;
        height: 67px;
        object-fit: cover;
        z-index: 1;
      }
      .ellipse-parent {
        height: 75px;
        flex: 1;
        position: relative;
      }
      .rectangle-frame {
        position: absolute;
        top: 0;
        left: 396px;
        width: 75px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .buy-sell-frame {
        align-self: stretch;
        height: 75px;
        position: relative;
      }
      .buy-sell-frame-wrapper {
        width: 471px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 18px 0 0;
        box-sizing: border-box;
        max-width: 100%;
        text-align: center;
        color: var(--logo-color);
      }
      .frame-parent {
        margin-left: -59px;
        width: 1471px;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 102%;
        flex-shrink: 0;
        gap: 20px;
        text-align: left;
        font-size: var(--font-size-13xl);
        color: var(--color-white);
        font-family: var(--font-jua);
      }
      .your-dream-location {
        width: 491px;
        height: 35px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        max-width: 100%;
        z-index: 2;
      }
      .frame-image-frame-great-deal-child {
        height: 68px;
        width: 936px;
        position: relative;
        border-radius: var(--br-76xl-5);
        background-color: var(--color-orangered-100);
        display: none;
        max-width: 100%;
      }
      .search {
        height: 66px;
        width: 286px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        z-index: 1;
      }
      .frame-image-frame-great-deal {
        width: 936px;
        border-radius: var(--br-76xl-5);
        background-color: var(--color-orangered-100);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 1px 0;
        box-sizing: border-box;
        max-width: 100%;
      }
      .frame-image-frame-poor-deal {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        max-width: 100%;
        font-size: 40px;
        color: #000;
        font-family: var(--font-krub);
      }
      .your-dream-location-parent {
        width: 1037px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px 0;
        max-width: 100%;
      }
      .home-page-inner,
      .recently-viewed {
        display: flex;
        justify-content: center;
        max-width: 100%;
        box-sizing: border-box;
      }
      .home-page-inner {
        width: 1341px;
        flex-direction: row;
        align-items: flex-start;
        padding: 0 var(--padding-xl) var(--padding-xl);
        text-align: center;
        font-size: var(--font-size-17xl);
        color: var(--logo-color);
        font-family: var(--font-jua);
      }
      .recently-viewed {
        width: 511px;
        height: 63px;
        position: relative;
        align-items: center;
        flex-shrink: 0;
        padding-right: var(--padding-xl);
      }
      .frame-item {
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0 !important;
        right: 12px;
        bottom: 0;
        left: -12px;
        background-color: var(--color-gainsboro);
      }
      .frame-inner,
      .image-3-icon {
        position: relative;
        display: none;
      }
      .image-3-icon {
        height: 302px;
        width: 500px;
        object-fit: cover;
        max-width: 100%;
      }
      .frame-inner {
        height: 40px;
        width: 150px;
        border-radius: var(--br-71xl);
        background-color: var(--color-forestgreen);
      }
      .great-deal,
      .rectangle-group {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .great-deal {
        height: 30px;
        flex: 1;
        position: relative;
        z-index: 3;
      }
      .rectangle-group {
        width: 150px;
        border-radius: var(--br-71xl);
        background-color: var(--color-forestgreen);
        flex-direction: row;
        padding: var(--padding-8xs) 0;
        box-sizing: border-box;
        white-space: nowrap;
        z-index: 2;
      }
      .great-deal-label,
      .rectangle-parent {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
      }
      .great-deal-label {
        flex: 1;
        padding: 0 0 262px;
        box-sizing: border-box;
        background-image: url(./public/image-3@2x.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        z-index: 1;
      }
      .rectangle-parent {
        position: relative;
      }
      .rectangle-div {
        height: 300px;
        width: 500px;
        position: relative;
        background-color: var(--color-gainsboro);
        display: none;
        max-width: 100%;
        z-index: 0;
      }
      .image-5-icon {
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0 !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        object-fit: cover;
        z-index: 1;
      }
      .great-deals-frame-child {
        height: 40px;
        width: 150px;
        position: relative;
        border-radius: var(--br-71xl);
        background-color: var(--color-firebrick);
        display: none;
      }
      .great-deals-frame,
      .poor-deal {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .poor-deal {
        height: 30px;
        flex: 1;
        position: relative;
        z-index: 3;
      }
      .great-deals-frame {
        width: 150px;
        border-radius: var(--br-71xl);
        background-color: var(--color-firebrick);
        flex-direction: row;
        padding: var(--padding-8xs) 0;
        box-sizing: border-box;
        white-space: nowrap;
        z-index: 2;
      }
      .frame-child1,
      .rectangle-container {
        position: relative;
        background-color: var(--color-gainsboro);
      }
      .rectangle-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 0 260px;
        box-sizing: border-box;
        max-width: 100%;
      }
      .frame-child1 {
        align-self: stretch;
        height: 300px;
        display: none;
        z-index: 0;
      }
      .image-4-icon {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        object-fit: cover;
        z-index: 1;
      }
      .frame-child2 {
        height: 40px;
        width: 150px;
        position: relative;
        border-radius: var(--br-71xl);
        background-color: var(--color-forestgreen);
        display: none;
      }
      .great-deal1,
      .rectangle-parent1 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .great-deal1 {
        height: 30px;
        flex: 1;
        position: relative;
        z-index: 3;
      }
      .rectangle-parent1 {
        width: 150px;
        border-radius: var(--br-71xl);
        background-color: var(--color-forestgreen);
        flex-direction: row;
        padding: var(--padding-8xs) 0;
        box-sizing: border-box;
        white-space: nowrap;
        z-index: 2;
      }
      .ellipse-div {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: rgba(255, 88, 0, 0.7);
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      .image-2-icon {
        position: absolute;
        width: calc(100% - 10px);
        top: 5px;
        right: 5px;
        left: 5px;
        max-width: 100%;
        overflow: hidden;
        height: 110px;
        object-fit: contain;
        z-index: 3;
      }
      .ellipse-group {
        height: 120px;
        flex: 1;
        position: relative;
      }
      .frame-container,
      .frame-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .frame-container {
        width: 120px;
        align-items: center;
      }
      .frame-wrapper {
        align-self: stretch;
        align-items: flex-start;
        padding: 0 var(--padding-xl) 0 76px;
      }
      .frame-div,
      .poor-deal-frame {
        justify-content: flex-start;
        max-width: 100%;
      }
      .frame-div {
        background-color: var(--color-gainsboro);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0 90px;
        box-sizing: border-box;
        position: relative;
        gap: 50px 0;
      }
      .poor-deal-frame {
        width: 1544px;
        display: grid;
        flex-direction: row;
        align-items: flex-end;
        gap: 0 22px;
        grid-template-columns: repeat(3, minmax(375px, 1fr));
      }
      .recent-views-frame {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 0 0 0 40px;
        box-sizing: border-box;
        max-width: 100%;
        font-size: var(--font-size-xl);
        color: var(--color-white);
        font-family: var(--font-krub);
      }
      .home-page,
      .recently-viewed-parent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .recently-viewed-parent {
        margin-left: -12px;
        max-width: 110%;
        flex-shrink: 0;
        text-align: center;
        font-size: var(--font-size-17xl);
        color: var(--logo-color);
        font-family: var(--font-jua);
      }
      .home-page {
        width: 100%;
        position: relative;
        background-color: var(--color-white);
        overflow: hidden;
        padding: 14px 0 110px;
        box-sizing: border-box;
        gap: 152px 0;
        letter-spacing: normal;
      }
      @media screen and (max-width: 1200px) {
        .poor-deal-frame {
          justify-content: center;
          grid-template-columns: repeat(2, minmax(375px, 650px));
        }
        .home-page {
          gap: 76px 0;
        }
      }
      @media screen and (max-width: 1050px) {
        .your-dream-location {
          font-size: var(--font-size-10xl);
        }
        .search {
          font-size: var(--font-size-13xl);
        }
        .recently-viewed {
          font-size: var(--font-size-10xl);
        }
      }
      @media screen and (max-width: 750px) {
        .frame-div {
          gap: 25px 0;
        }
        .poor-deal-frame {
          grid-template-columns: minmax(375px, 1fr);
        }
        .home-page {
          gap: 38px 0;
        }
      }
      @media screen and (max-width: 450px) {
        .your-dream-location {
          font-size: var(--font-size-3xl);
        }
        .search {
          font-size: 24px;
        }
        .recently-viewed {
          font-size: var(--font-size-3xl);
        }
        .home-page {
          gap: 19px 0;
        }
      }
      