.nestflex-2-11 {
  height: 100px;
  width: 410px;
  position: relative;
  border-radius: var(--br-231xl);
  object-fit: cover;
  max-width: 100%;
}
.buy1 {
  height: calc(100% - 20px);
  top: 10px;
  left: 0;
  text-decoration: underline;
}
.buy1,
.help1,
.sell1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
}
.sell1 {
  top: 21px;
  left: 115px;
  height: 31px;
}
.help1 {
  height: calc(100% - 20px);
  top: 10px;
  left: 234px;
}
.ellipse-shape {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--logo-color);
  width: 100%;
  height: 100%;
}
.image-1-icon1 {
  position: absolute;
  width: calc(100% - 8px);
  top: 4px;
  right: 4px;
  left: 4px;
  max-width: 100%;
  overflow: hidden;
  height: 67px;
  object-fit: cover;
  z-index: 1;
}
.background-frame {
  height: 75px;
  flex: 1;
  position: relative;
}
.third-child-frame {
  position: absolute;
  top: 0;
  left: 396px;
  width: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.help-text-frame {
  align-self: stretch;
  height: 75px;
  position: relative;
}
.second-child-frame {
  width: 471px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 7px;
  box-sizing: border-box;
  max-width: 100%;
}
.first-child-frame {
  margin-left: -59px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 102%;
  flex-shrink: 0;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--logo-color);
  font-family: var(--font-jua);
}
.first-parent-of-address-city-p {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-orangered-100);
  width: 100%;
  height: 100%;
}
.fourth-frame-with-rectangle-an-child {
  position: absolute;
  top: 25px;
  left: 18px;
  width: 50px;
  height: 23.1px;
  z-index: 2;
}
.fourth-frame-with-rectangle-an {
  height: 50px;
  flex: 1;
  position: relative;
}
.back {
  height: 50px;
  width: 131px;
  position: relative;
  font-size: var(--font-size-11xl);
  display: flex;
  font-family: var(--font-krub);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -122px;
}
.great-deal-label1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 182px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.b {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.frame-child3 {
  height: 40px;
  width: 173px;
  position: relative;
  border-radius: var(--br-71xl);
  background-color: var(--color-forestgreen);
  display: none;
}
.great-deal2 {
  height: 30px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.group-div,
.third-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.group-div {
  width: 173px;
  border-radius: var(--br-71xl);
  background-color: var(--color-forestgreen);
  justify-content: center;
  padding: var(--padding-8xs) 0;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.third-group {
  flex: 1;
  justify-content: flex-start;
  gap: 0 8px;
  min-width: 259px;
  max-width: 100%;
}
.frame-child4 {
  align-self: stretch;
  width: 189px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-orangered-100);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.contact,
.rectangle-parent2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  height: 50px;
  position: relative;
  z-index: 1;
}
.rectangle-parent2 {
  border-radius: var(--br-31xl);
  background-color: var(--color-orangered-100);
  border: 5px solid var(--color-black);
  flex-direction: row;
  padding: 0 23px 0 var(--padding-3xl);
  font-size: var(--font-size-17xl);
}
.contact-label,
.second-group,
.sixth-child-frame {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.contact-label {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 0 44px;
}
.second-group,
.sixth-child-frame {
  box-sizing: border-box;
}
.second-group {
  width: 631px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
}
.sixth-child-frame {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 6px 0 0;
  gap: var(--gap-xl);
}
.addess-city-province,
.image-9-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
}
.image-9-icon {
  height: 437px;
  overflow: hidden;
  object-fit: cover;
  min-width: 497px;
}
.addess-city-province {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addess-city-province-wrapper {
  width: 429px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
  max-width: 100%;
}
.group-stats-frame-child {
  height: 55px;
  width: 200px;
  position: relative;
  background-color: var(--color-orangered-100);
  display: none;
}
.group-stats-frame,
.sqft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sqft {
  height: 50px;
  flex: 1;
  position: relative;
  z-index: 1;
}
.group-stats-frame {
  flex: 0.6684;
  background-color: var(--color-orangered-100);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-16xl) var(--padding-10xs) 34px;
  box-sizing: border-box;
  min-width: 150px;
}
.group-stats-frame-item {
  height: 55px;
  width: 200px;
  position: relative;
  background-color: var(--color-orangered-100);
  display: none;
}
.bedrooms,
.group-stats-frame1 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.bedrooms {
  height: 50px;
  width: 190px;
  position: relative;
  flex-shrink: 0;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
  z-index: 1;
}
.group-stats-frame1 {
  flex: 1;
  background-color: var(--color-orangered-100);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-11xs) var(--padding-10xs);
  min-width: 150px;
}
.group-stats-frame-inner {
  height: 55px;
  width: 200px;
  position: relative;
  background-color: var(--color-orangered-100);
  display: none;
}
.bathrooms,
.group-stats-frame2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bathrooms {
  height: 50px;
  flex: 1;
  position: relative;
  z-index: 1;
}
.group-stats-frame2 {
  flex: 0.852;
  background-color: var(--color-orangered-100);
  flex-direction: row;
  padding: var(--padding-11xs) 16px var(--padding-10xs) var(--padding-mid);
  box-sizing: border-box;
  min-width: 150px;
}
.frame-s-q-f-t-frame-bedrooms-f,
.group-stats-frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0 14px;
}
.frame-s-q-f-t-frame-bedrooms-f {
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px 0;
  max-width: 100%;
}
.frame-child5 {
  height: 356px;
  width: 628px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  max-width: 100%;
}
.blank-line,
.details-text,
.ex-welcome-to {
  margin: 0;
}
.details-text-ex-container1 {
  width: 100%;
}
.details-text-ex-container {
  height: 215px;
  width: 585px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.rectangle-parent3 {
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-24xl) var(--padding-2xl) var(--padding-24xl)
    var(--padding-3xl);
  box-sizing: border-box;
  min-height: 356px;
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.address-city-state-frame,
.main-info-frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.address-city-state-frame {
  width: 628px;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px 0;
  min-width: 628px;
}
.main-info-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 0 16px;
}
.image-10-icon,
.image-11-icon {
  height: 240.5px;
  width: 375px;
  position: relative;
  object-fit: cover;
  min-height: 241px;
  max-width: 100%;
}
.frame-data-frame-child {
  height: 241px;
  width: 628px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  max-width: 100%;
}
.blank-line1,
.quick-facts,
.year-built-key {
  margin: 0;
}
.quick-facts-year-container1 {
  width: 100%;
}
.quick-facts-year-container {
  height: 170px;
  width: 313px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.frame-data-frame {
  flex: 1;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-16xl) var(--padding-xl) 36px var(--padding-2xl);
  box-sizing: border-box;
  min-width: 313px;
  max-width: 100%;
}
.image-11-parent,
.main-info-frame-parent {
  align-self: stretch;
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.image-11-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 15px;
  text-align: center;
  color: var(--color-black);
  font-family: var(--font-krub);
}
.main-info-frame-parent {
  flex-direction: column;
  gap: 12px 0;
}
.fifth-child-frame,
.fourth-child-frame,
.listing-page,
.main-info-frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fifth-child-frame {
  flex: 1;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: var(--color-black);
  font-family: var(--font-krub);
}
.fourth-child-frame,
.listing-page {
  box-sizing: border-box;
}
.fourth-child-frame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-mid);
  max-width: 100%;
}
.listing-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-sm) 0 58px;
  gap: 51px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .address-city-state-frame {
    flex: 1;
  }
  .main-info-frame {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .back {
    font-size: var(--font-size-5xl);
  }
  .b {
    font-size: 38px;
  }
  .contact {
    font-size: var(--font-size-10xl);
  }
  .sixth-child-frame {
    flex-wrap: wrap;
  }
  .addess-city-province,
  .bathrooms,
  .bedrooms,
  .quick-facts-year-container,
  .sqft {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 750px) {
  .contact-label {
    flex-wrap: wrap;
    gap: 0 22px;
  }
  .image-9-icon {
    min-width: 100%;
  }
  .group-stats-frame-parent {
    flex-wrap: wrap;
  }
  .address-city-state-frame {
    min-width: 100%;
  }
  .listing-page {
    gap: 25px 0;
  }
}
@media screen and (max-width: 450px) {
  .back {
    font-size: var(--font-size-lg);
  }
  .b {
    font-size: var(--font-size-10xl);
  }
  .third-group {
    flex-wrap: wrap;
  }
  .contact {
    font-size: var(--font-size-3xl);
  }
  .addess-city-province,
  .sqft {
    font-size: var(--font-size-lg);
  }
  .group-stats-frame {
    flex: 1;
  }
  .bathrooms,
  .bedrooms {
    font-size: var(--font-size-lg);
  }
  .group-stats-frame2 {
    flex: 1;
  }
  .details-text-ex-container {
    font-size: 16px;
  }
  .quick-facts-year-container {
    font-size: var(--font-size-lg);
  }
}
