html, body {
  padding-top: 110px;
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure that the body takes up the full height of the viewport */
  display: flex;
  flex-direction: column;
  
}
.header{
  position: fixed;
  z-index:9999;
  top:0;
}

.logo2 {
    width: 175px; 
    height: auto; 
    top: 10px; 
    left: 50px; 
  }
 
  .navBar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-bottom: 20ch;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    z-index: 1000;
  }

.navbar, .buyButton{
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 171, 115, 0.323);
    color: rgb(255, 81, 0); /* Change to desired color */
    border: none;
    outline: none;
    position: fixed;
    top: 43px; /* Adjust the distance from the top */
    right: 350px; /* Adjust the distance from the left */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: Add rounded corners */
  }
.navbar, .sellButton{
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: rgb(255, 81, 0); /* Change to desired color */
    border: none;
    outline: none;
    position: fixed;
    top: 43px;; /* Adjust the distance from the top */
    right: 250px; /* Adjust the distance from the left */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: Add rounded corners */
  }
.navbar, .helpButton{
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: rgb(255, 81, 0); /* Change to desired color */
    border: none;
    outline: none;
    position: fixed;
    top: 43px;; /* Adjust the distance from the top */
    right: 150px; /* Adjust the distance from the left */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: Add rounded corners */
  }
  .navbar, .profile{
    width:50px;
    height: auto;
    position: fixed;
    top: 32px; 
    right: 50px;
    padding: 5px 5px; 
    border-radius: 100px; 
  }

.search-container {
  flex: 2;
  display: flex;
  position:fixed;
  margin-top: 110px;
  margin-bottom: 10px;
  left: 20px; /* Add left padding */
}

.search-bar {
  padding: 10px;
  width: 200px;
  height: 20px;
  border: 50px;
  border-radius: 50px;
  background-color:rgba(255, 171, 115, 0.323); /* Change this to the desired color */
  font-size: 16px;
  margin: 10px;
}
.search-button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: rgb(255, 102, 0); /* Change this to the desired color */
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}
.filter-button{
  flex: 2;
  display: flex;
  position:fixed;
  top: 110px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  left: 550px;
  background-color: rgb(255, 102, 0); /* Change this to the desired color */
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

  .sellButton a, .buyButton a, .helpButton a, .search-button a {
    color: inherit; /* Inherit color from parent element (orange) */
    text-decoration: none; /* Remove underline from the link */
  }
  .search-button:hover, .filter-button:hover, .filterPop button:hover {
    background-color: rgb(212, 85, 0); /* Change this to the desired hover color */
  }
 
  .buyButton:hover, .sellButton:hover, .helpButton:hover, .profile:hover {
    background-color: rgba(255, 171, 115, 0.323); /* Change this to the desired hover color */
  }
  .mapListingCountainer{
  display: flex;
  margin: 5px;
}

.map, .listings {
  background-color: white;
  width: 50%; /* Each element takes 50% of the screen width */
  height: calc(95vh - 200px); /* Make the map and listings containers take up 90% of the viewport height minus 200px */
  max-height: calc(95vh - 200px); /* Limit the maximum height of the containers */
  margin-top: 200px; /* Adjust the top margin as needed */
}

.map iframe {
  width: 100%;
  height: 100%; /* Make the iframe fill its container */
  outline: 2px solid black;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listings {
  padding-left: 4px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #ededed; /* Background color */
  border: 2px solid rgb(0, 0, 0); /* Border */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: auto;
}
.left-col{
  flex-basis: 100%;
}
.left-col h1{
  color:orange;
  font-weight:600;
}
/* .right-col{
  flex-basis: 0%;
} */
.house{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
  border-top: 1px solid black;
}

.house-img {
  flex-basis: 45%;
  padding:2px;
}
.house-info {
  flex-basis: 45%;
  color:rgb(72, 72, 72);
  text-align: left;
  position:sticky;

}
.house-img img{
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.house-info h3{
  font-weight: 400;
  color: black;
}

.house-info i{
  color: black;
  font-size: 18px;
}

.house-price{
  font-weight: 500;
  font-size: 20px;
  color: rgb(0, 111, 0);
}
.house-price span{
  font-size: 15px;
  font-weight: 300;
}

.filterPop {
  width: 60%;
  height: 60%;
  background-color: rgb(255, 233, 219);
  border-radius: 8px;
  position:absolute;
  top: 0;
  left: 50%;
  outline:2px solid rgb(183, 90, 32);
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding:0 30px 30px;
  color: rgb(56, 56, 56);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 9999;
}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}
.filterPop h2{
  font-size: 25px;
  font-weight: 200;
  margin: 10px 0px 10px;
} 
.filterPop button{
  width: 80px;
  padding: 5px 0;
  background:  rgb(255, 102, 0);
  color: white;
  border: 0;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
}
.filterPop button.close {
  position: absolute;
  top: 10px;
  left: 10px;
}
.filterPop button.apply {
  position: absolute;
  right:10px;
  bottom: 10px;
}
.filterPop button.reset {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.filterPop button.applySaved {
  width: 140px;
  position: absolute;
  bottom: 10px;
  right: 100px;
}
.filterPop h3{
  left:10px;
  font-size: 18px;
  position: relative;
  left: 10px;
}
button.bedButton{
  background-color: white;
  border-radius: 5px;
  color: black;
}
button.bedButton:hover{
  background-color: rgba(255, 156, 118, 0.85);
}
.bedButton.clicked{
  background-color: rgba(255, 129, 80, 0.894);
  outline:2px solid black;
  color:black;
}